<% content_for :head do %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrdnW1M33B68mzNKOQv0fiNoB62ZeNcE8"></script>
<% end %>


<div id='map-canvas'></div>
